<div class="row">
  <h2>營隊活動管理</h2>
</div>
<div class="row">
  <form class="col s12" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="營隊標題" id="title" type="text" class="validate" name="title" [(ngModel)]="EventData.title" required [disabled]="DisableButton">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea class="materialize-textarea" placeholder="營隊內容" name="content" [(ngModel)]="EventData.content" required [disabled]="DisableButton"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="線上報名網址" name="websignurl" [(ngModel)]="EventData.websignurl" type="text" class="validate" required [disabled]="DisableButton">
      </div>
    </div>
    <div *ngIf="RouteName == 'create'; else ElseBlock">
      <div class="row">
        <image-upload [buttonCaption]="'上傳活動DM'" [dropBoxMessage]="'Drop Your DM'" (onFileUploadFinish)="imageUploaded($event)" (onRemove)="imageRemoved($event)"
          (isPending)="disableSendButton($event)" [max]="1" [fileTooLargeMessage]="'圖片容量太大'"></image-upload>
      </div>

    </div>
    <ng-template #ElseBlock>
      <div *ngIf="RouteName == 'edit'">
        <input type="checkbox" class="filled-in" [(ngModel)]="IsImageReadyToChange" name="a" id="a"
          *ngIf="RouteName == 'edit'" />
        <label for="a">是否更新圖片</label>
      </div>
  <image-upload [buttonCaption]="'上傳活動DM'" [dropBoxMessage]="'Drop Your DM'" (onFileUploadFinish)="imageUploaded($event)" (onRemove)="imageRemoved($event)"
          (isPending)="disableSendButton($event)" [max]="1" [fileTooLargeMessage]="'圖片容量太大'" *ngIf="IsImageReadyToChange" ></image-upload>

      <img [src]="EventData.imageinfo" class="materialboxed" width="500" height="200">

    </ng-template>

    <div *ngIf="isFinishSubmit ;else elseblock">

      <div *ngIf="RouteName == 'create'">
        <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="f['invalid']">
        Submit<i class="material-icons right">send</i>
       </button>
        <a class="btn waves-effect waves-light" [routerLink]="['/admin/campuseventmanage']">
        <i class="material-icons left">cancel</i>返回</a>
      </div>

      <div *ngIf="RouteName == 'edit'">
        <a class="btn waves-effect waves-light" [routerLink]="['/admin/campuseventmanageform/detail'+'/'+EventData.id]">
        <i class="material-icons left">pageview</i>明細</a>
        <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="f['invalid']">
        Submit<i class="material-icons right">send</i>
       </button>
        <a class="btn waves-effect waves-light" [routerLink]="['/admin/campuseventmanage']">
        <i class="material-icons left">cancel</i>返回</a>
      </div>

      <div *ngIf="RouteName == 'detail'">
        <a class="btn waves-effect waves-light" [routerLink]="['/admin/campuseventmanageform/edit'+'/'+EventData.id]">
        <i class="material-icons left">edit</i>編輯</a>
        <a class="btn waves-effect waves-light" [routerLink]="['/admin/campuseventmanage']">
        <i class="material-icons left">cancel</i>返回</a>
      </div>



    </div>

    <ng-template #elseblock>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </ng-template>

  </form>

</div>
