  <div class="rows">
    <h2>營隊活動管理</h2>
  </div>

  <div class="preloader-wrapper big active" *ngIf="!showtable">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div *ngIf="showtable">
    <div class="section">
      <a class="waves-effect waves-light btn" [routerLink]="['/admin/campuseventmanageform/create']"><i class="material-icons left">add</i>新增營隊活動</a>
    </div>

    <ngx-datatable class="material fullscreen" [columnMode]="'standard'" [scrollbarH]="true" [rows]="rows" [columns]="columns"
      [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
      [limit]="page.size" (page)='setPage($event)'
         [externalSorting]="true"
        [loadingIndicator]="loading"
        (sort)="onSort($event)"
      >
      <div *ngFor="let c of columns">

          <div *ngIf="c.prop=='id'  else elseBlock">
               <ngx-datatable-column name="">
            <ng-template let-row="row" ngx-datatable-cell-template>

              <div style=" display: flex;
                      align-items: center;
                      justify-content: space-around;
                       cursor: pointer; cursor: hand;
                      ">
                <i class="material-icons" (click)="onDetail(row.id)">pageview</i>
                <i class="material-icons" (click)="onEdit(row.id)">edit</i>
                <i class="material-icons" (click)="onDelete(row)">delete</i>

              </div>
            </ng-template>
              </ngx-datatable-column>
          </div>
          <ng-template #elseBlock>
            <ngx-datatable-column [name]="c.prop">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row[c.prop]}}
              </ng-template>
            </ngx-datatable-column>
          </ng-template>

      </div>
    </ngx-datatable>

  </div>

