<div class="row">
  <h3>DashBoard!Rock</h3>
</div>
<section>
  <div class="row">
    <app-calendar></app-calendar>
  </div>
</section>
<section>
  <div class="row">
    <!-- Dropdown Trigger -->
    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>篩選圖表</a>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li *ngFor="let item of components" [value]="item.value" (click)="onSelectChart(item)">{{item.name}}</li>

    </ul>
  </div>
</section>
<section *ngIf="ShowAllCharts">
  <div class="row" style="padding-bottom:50px">
    <div class="col" [class.s4]="ScreenWidth>1200" [class.s12]="ScreenWidth<1200">
      <app-piechart [title]="components[1]['name']"></app-piechart>
    </div>
    <div class="col" [class.s4]="ScreenWidth>1200" [class.s12]="ScreenWidth<1200">
      <app-ladarchart [title]="components[2]['name']"></app-ladarchart>
    </div>
    <div class="col" [class.s4]="ScreenWidth>1200" [class.s12]="ScreenWidth<1200">
      <app-barchart [title]="components[3]['name']"></app-barchart>
    </div>
  </div>
</section>
<section>
  <div class="row" style="padding-bottom:50px">
    <div class="col s4" [class.s4]="ScreenWidth>1200" [class.s12]="ScreenWidth<1200">
      <ng-template appDynamiccomponent></ng-template>
    </div>
  </div>
</section>

