<div class="row">
  <h2>{{title}}</h2>
</div>
<div class="row">
  <form class="col s12" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="營隊花絮名稱" id="title" type="text" class="validate" name="title" [(ngModel)]="CampusEventPhotos['Name']"
          required [disabled]="DisableButton">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="完整營隊花絮網址" name="websignurl" [(ngModel)]="CampusEventPhotos['GallaryUrl']" type="text" class="validate"
          required [disabled]="DisableButton">
      </div>
    </div>
    <div class="row">
      <div *ngIf="RouteName == 'create'; else ElseBlock">
        <image-upload [buttonCaption]="'上傳活動照片(最多三張)'" [dropBoxMessage]="'Drop Your DM'" (onFileUploadFinish)="imageUploaded($event)"
          (onRemove)="imageRemoved($event)" (isPending)="disableSendButton($event)" [max]="3" [fileTooLargeMessage]="'圖片容量太大'">
        </image-upload>
      </div>
      <ng-template #ElseBlock>
        <div *ngIf=" this.ReadytoRemoveImageArray.indexOf(true)!=-1">
          <image-upload [buttonCaption]="'更新活動照片(最多'+EditPageUploadImagesCount+'種)'" [dropBoxMessage]="'Drop Your DM'" (onFileUploadFinish)="imageUploaded($event)"
            (onRemove)="imageRemoved($event)" (isPending)="disableSendButton($event)" [max]="EditPageUploadImagesCount" [fileTooLargeMessage]="'圖片容量太大'">
          </image-upload>
        </div>
        <div class="row" *ngFor="let item of CampusEventPhotos['ImageUrlArray'];let i=index">

          <div class="col s3">
            <div *ngIf="RouteName == 'edit'">
              <input type="checkbox" class="filled-in"
               [(ngModel)]="ReadytoRemoveImageArray[i]"
                [name]="'RemoveImage'+i" [id]="'filled-in-box'+i"
                (change)="onChange(i,ReadytoRemoveImageArray[i])"
              />
              <label [for]="'filled-in-box'+i">是否刪除</label>
            </div>
          </div>
          <div class="col s6">
            <img [src]="item" class="materialboxed" width="500" height="200">
          </div>
        </div>
      </ng-template>
    </div>
    <div class="row">
      <div *ngIf="isFinishSubmit ;else elseblock">

        <div *ngIf="RouteName == 'create'">
          <button class="btn waves-effect waves-light" type="submit" name="action">上傳
          <i class="material-icons left">file_upload</i>

        </button>
          <a class="btn waves-effect waves-light" [routerLink]="['/admin/campusphotosmanage']"><i class="material-icons left">cancel</i>返回</a>
        </div>
        <div *ngIf="RouteName == 'detail'">
          <a class="btn waves-effect waves-light" [routerLink]="['/admin/campusphotosmanageform/edit',RouteParm]"><i class="material-icons left">edit</i>編輯</a>
          <a class="btn waves-effect waves-light" [routerLink]="['/admin/campusphotosmanage']"><i class="material-icons left">cancel</i>返回</a>
        </div>
        <div *ngIf="RouteName == 'edit'">
          <button class="btn waves-effect waves-light" type="submit" name="action">上傳
          <i class="material-icons left">file_upload</i>

        </button>
          <a class="btn waves-effect waves-light" [routerLink]="['/admin/campusphotosmanageform/detail',RouteParm]"><i class="material-icons left">pageview</i>明細</a>
          <a class="btn waves-effect waves-light" [routerLink]="['/admin/campusphotosmanage']"><i class="material-icons left">cancel</i>返回</a>
        </div>

      </div>
    </div>
    <ng-template #elseblock>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </ng-template>
  </form>

</div>
