<div class="container">
  <div class="section">
    <div *ngIf="isShowEvent">
      <div class="row" *ngIf="ShowEventData.length>0">
        <div class="col" [class.s5]="ScreenWidth>1200" [class.s12]="ScreenWidth<1200" *ngFor="let item of ShowEventData">
          <div>
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" [src]="item?.imageinfo">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{item?.title}}<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{item?.title}}<i class="material-icons right">close</i></span>
                <div [innerText]="item?.content"></div>
              </div>
              <div class="card-action center">
                <button class="btn waves-effect waves-light red" type="submit" name="action" (click)="onSignUpEvent(item?.websignurl)">報名活動
                  <i class="material-icons right">send</i>
                </button>
                <button class="btn waves-effect waves-light" type="submit" name="action" (click)="onShareEvent(item?.websignurl)">分享活動
                  <i class="material-icons right">share</i>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col" *ngIf="ShowEventData.length==0">
        <div class="card">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">近期營隊活動即將開始</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
