<div class="row">
  <h2>{{title}}</h2>
</div>
<div class="row">
  <form class="col s12" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="營隊花絮名稱" id="title" type="text" class="validate" name="title" [(ngModel)]="CampusEventPhotos['Name']"
          required>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="完整營隊花絮網址" name="websignurl" [(ngModel)]="CampusEventPhotos['GallaryUrl']" type="text" class="validate"
          required>
      </div>
    </div>
    <div class="row">

      <image-upload [buttonCaption]="'上傳活動照片(最多三種)'" [dropBoxMessage]="'Drop Your DM'" (onFileUploadFinish)="imageUploaded($event)"
        (onRemove)="imageRemoved($event)" (isPending)="disableSendButton($event)" [max]="3" [fileTooLargeMessage]="'圖片容量太大'">
      </image-upload>
    </div>
    <div *ngIf="isFinishSubmit ;else elseblock">
      <button class="btn waves-effect waves-light" type="submit" name="action">上傳
    <i class="material-icons left">file_upload</i>
  </button>

      <a class="btn waves-effect waves-light" [routerLink]="['/admin/campusphotosmanage']"><i class="material-icons left">cancel</i>返回</a>
    </div>

    <ng-template #elseblock>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </ng-template>

  </form>

</div>
