<div class="container" style="width:80%">
  <div class="section">
    <div class="row" >
      <div *ngIf="showphotos">
        <div class="col center" *ngFor="let cp of CampusPhotos"
        [class.s4]="ScreenWidth>1440" [class.s12]="ScreenWidth<1440"
        >
          <h5 class="black-text center">{{cp?.Name}}</h5>
          <div class="carousel carousel-slider center">
            <div *ngFor="let img of cp.ImageUrlArray;let i=index">
              <a class="carousel-item">
              <img [src]="img">
              </a>
            </div>
          </div>
          <div class="section center" >
            <a class="waves-effect waves-light btn red" (click)="onGotoGallary(cp.GallaryUrl)"><small>前往相簿</small>
              <i class="material-icons right">send</i>
              </a>
            <a class="waves-effect waves-light btn" (click)="onShareGallary(cp.GallaryUrl)"><small>分享相簿</small>
              <i class="material-icons right">share</i>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
