<div class="container">
  <div class="section">

    <div class="row" *ngFor="let cp of CampusPhotos">
      <div *ngIf="showphotos">

        <div class="col s12 center">
      <h2 class="black-text center">{{cp?.Name}}</h2>
          <div class="carousel carousel-slider center">
            <div *ngFor="let img of cp.ImageUrlArray;let i=index">
              <a class="carousel-item">
              <img [src]="img" style="width:1000px" [class.MobileImageHeight]="ScreenWidth<600"
              [class.DesktopImageHeight]="ScreenWidth>600"
              ></a>
            </div>
            <div class="carousel-fixed-item center" >
              <br>
              <br>
            </div>
          </div>
          <div class="section">

            <a class="waves-effect waves-light btn" (click)="onGotoGallary(cp.GallaryUrl)">前往相簿
              <i class="material-icons right">send</i>
              </a>
            <a class="waves-effect waves-light btn" (click)="onShareGallary(cp.GallaryUrl)">分享相簿
              <i class="material-icons right">share</i>
              </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
